* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#clock-area {
    display: flex;
    justify-content: center;
    align-items: center;
}


#clock {
    size: 25pt;
    display: flex;
    flex-direction: row;
}

#hidder {
    display: flex;
    flex-direction: column;
}